@import "tailwindcss";


.input {
  @apply w-full border border-black/10 rounded-lg px-4 py-2 outline-none focus:ring-2 focus:ring-black/20;
}


.marquee-fade::before,
.marquee-fade::after {
  content: "";
  position: absolute;
  top: 0;
  width: 60px;
  height: 100%;
  z-index: 10;
  pointer-events: none;
}

.marquee-fade::before {
  left: 0;
  background: linear-gradient(to right, white, transparent);
}

.marquee-fade::after {
  right: 0;
  background: linear-gradient(to left, white, transparent);
}


/* ===============================
   CATEGORY HOVER (SAFE)
================================ */
.group:hover {
  transform: translateY(-6px);
}




.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.input {
  width: 100%;
  padding: 14px 16px;
  border-radius: 12px;
  background: #f5f7fa;
  border: 1px solid #e5e7eb;
  font-size: 14px;
  outline: none;
}

.input:focus {
  border-color: #000;
  background: #fff;
}

.grid-bg {
  background-image:
    linear-gradient(to right, #e5e7eb 1px, transparent 1px),
    linear-gradient(to bottom, #e5e7eb 1px, transparent 1px);
  background-size: 70px 70px;
  background-position: 0 0;
}

img {
  -webkit-user-drag: none;
  user-select: none;
  pointer-events: none;
}


@keyframes marquee-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.marquee {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
}

.marquee-track {
  display: inline-flex;
  white-space: nowrap;
  animation: marquee-scroll 30s linear infinite;
}

.marquee-item {
  margin-right: 3rem;
}

/* edge fade */
.marquee::before,
.marquee::after {
  content: "";
  position: absolute;
  top: 0;
  width: 64px;
  height: 100%;
  z-index: 10;
  pointer-events: none;
}

.marquee::before {
  left: 0;
  background: linear-gradient(to right, white, transparent);
}

.marquee::after {
  right: 0;
  background: linear-gradient(to left, white, transparent);
}





.swiper-button-next,.swiper-button-prev{
    height: 25px !important;
    color: white !important;
}


/* Modern minimal scrollbar */
.modern-scroll {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.35) transparent;
}

/* Chrome, Edge, Safari */
.modern-scroll::-webkit-scrollbar {
  width: 6px;
}

.modern-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.modern-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.35);
  border-radius: 999px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.modern-scroll::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.55);
}